* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}

main {
    background: rgb(49, 47, 47);
    height: 100dvh;
}


/* Alert button styling */

    .alert-button {
        display: flex;
        align-items: center;
        width: 100dvw;
        height: 100dvh;
        /* align-content: center; */
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    #alert {
        display: block;
        align-self: center;
        background-color: red;
        width: 50ch;
        height: 50ch;
        border-radius: 100%;
        border-color: black;
        border-width: 1ch;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

    }